Gallery3WinForm/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SelfHost.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SelfHost.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsArtist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speciality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Works" nillable="true" type="tns:ArrayOfclsArtist.clsWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsArtist" nillable="true" type="tns:clsArtist" />
  <xs:complexType name="ArrayOfclsArtist.clsWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsArtist.clsWork" nillable="true" type="tns:clsArtist.clsWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsArtist.clsWork" nillable="true" type="tns:ArrayOfclsArtist.clsWork" />
  <xs:complexType name="clsArtist.clsWork">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsArtist.clsWork" nillable="true" type="tns:clsArtist.clsWork" />
  <xs:complexType name="clsArtist.clsPhotograph">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsArtist.clsWork">
        <xs:sequence>
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:float" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsArtist.clsPhotograph" nillable="true" type="tns:clsArtist.clsPhotograph" />
  <xs:complexType name="clsArtist.clsPainting">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsArtist.clsWork">
        <xs:sequence>
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:float" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsArtist.clsPainting" nillable="true" type="tns:clsArtist.clsPainting" />
  <xs:complexType name="clsArtist.clsSculpture">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsArtist.clsWork">
        <xs:sequence>
          <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsArtist.clsSculpture" nillable="true" type="tns:clsArtist.clsSculpture" />
</xs:schema>